#bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 850px;
  width: 100%;
  position: relative;
  opacity:1;
}

.logo #logo {
  width: 200px;
  height: 180px;
  position: absolute;
  top: 250px;
  left: 50%;
}

.heading {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f3e3e3;
  font-size: 45px;
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-shadow: 0 0 10px #000;
}

.about {
  max-width: 90%;
  margin: auto;
  margin-top: 10px;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-heading {
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.about-content {
  font-size: 20px;
  color: #555;
  line-height: 1.5;
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
 
}
.site_btn {
  display: flex;
  padding: 15px 30px;
  background-color: #7ab1c1;
  color: #fff;
  text-decoration: none;
  border: 2px solid #234324;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.site_btn:hover {
  background-color: #45a049;
  color: #fff;
}


.team-heading {
  font-size: 3rem;
  font-family: "Garamond", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  word-spacing: 5px;
  /* text-shadow: 0 0 5px #673d3d; */
  text-align: center;
  margin-top: 120px;
  text-decoration: underline;
}

.member-cards-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 32px;
  justify-content: space-evenly;
}

.member-card {
  margin-top: 30px;
  width: 200px;
  height: 200px;
  text-align: left;
  font-family: "Rubik", sans-serif;
}
.member-card-img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-color: white;
  border-radius: 50%;
  border: 5px solid #e0c8c8;
  box-shadow: 0 0 15px #171010;
}
.member-card-img:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}
.description {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.7px;
  text-align: center;
}
.member-card-name {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 50px;
  font-size: 18px;
  align-content: center;
  font-weight: bold;
  letter-spacing: 0.7px;
}
.member-card-title {
  color: #494949;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  letter-spacing: 0.7px;
}



/* Responsive */

@media screen and (max-width: 2560px) {
  #bg {
    height: 100vh !important;
  }
  .logo #logo {
    width: 200px;
    height: 180px;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 1500px) {
  #bg {
    height: 100vh !important;
  }
  .logo #logo {
    display: flex;
    align-items: center;
    width: 180px;
    height: 160px;
    top: 28%;
    left: 50%;
    transform: translateX(-50%);
  }
  .heading {
    font-size: 35px;
    top: 67%;
  }
}

@media screen and (max-width: 900px) {
  #bg {
    height: 100vh !important;
  }
  .logo #logo {
    width: 120px;
    height: 105px;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
  }
  .heading {
    font-size: 30px;
    top: 60%;
  }
  .team-heading{
    font-size: 2rem;
  }
  .member-card{
    width: 150px;
    height: 150px;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
  }
 
  .member-card-name{
    font-size: 0.7rem;
  }
  .member-card-title{
    font-size: 0.5rem;
  }
  .site {
    padding: 12px 25px;
    font-size: 16px;
  }
}

@media screen and (max-width: 500px) {
  #bg {
    height: 100vh !important;
  }
  .logo #logo {
    width: 100px;
    height: 85px;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
  }
  .heading {
    font-size: 25px;
    top: 60%;
  }
  .team-heading{
    font-size: 1.5rem;
    margin-top: 50px;
  }
  .member-card{
    width: 100px;
    height: 100px;
    justify-content: space-evenly;
  }
  .site {
    padding: 12px 25px;
    font-size: 16px;
  }
}


